SUBSYSTEM!="block", GOTO="qubes-rule-end"
ACTION=="remove", GOTO="qubes-rule-end"

# Skip devices that might contain untrusted data.  We won’t be doing any other
# processing on them (and rightly so).
KERNEL=="loop*", ATTR{loop/backing_file}!="/var/lib/qubes/vm-kernels/*", ENV{SYSTEMD_READY}="1"
ENV{DM_LV_NAME}=="vm-*", ENV{SYSTEMD_READY}="1"
ENV{DM_UUID}=="CRYPT-*", ENV{DM_NAME}!="swap|luks-*", ENV{SYSTEMD_READY}="1"

LABEL="qubes-rule-end"

# vim: set ft=udevrules ff=unix fenc=utf-8:
